{% extends 'TodoList/base.html' %}
{% block content %}
	{% if object_list %}	
	<h1>Your tasks</h1>
	  {% for task in object_list %}
	  <article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ task.name }}</a>
	      <small class="text-muted">{{ task.deadline|date:'d F, Y' }}</small>
	    </div>
	    <h2><a class="article-title" href="">{{ task.description }}</a></h2>
	    {% if task.status == False %}
	    <p class="article-content">Your task has not been completed </p>
	    <a href="{% url 'todolist-complete' user.username task.id %}"><button><p>Mark Completed</p></button></a>
	    {% else %}
	    <p class="article-content">Your task has been completed </p>
	    {% endif %}
	    <a href="{% url 'task-delete' task.id %}"><button><p>Delete Task</p></button></a>
	  </div>
	</article>
	  {% endfor %}
  	{% else %}
		<h1>You have no tasks</h1>
  	{% endif %}
{% if is_paginated %}
	{% if page_obj.has_previous %}
		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}
	{% for n in page_obj.paginator.page_range %}
		{% if page_obj.number == n %}
			<a class="btn btn-info mb-4" href="?page={{ n }}">{{n}}</a>
		{% elif page_obj.number > n and page_obj.number <= n|add:'3' %}
			<a class="btn btn-outline-info mb-4" href="?page={{ n }}">{{n}}</a>
		{% elif page_obj.number < n and page_obj.number|add:'3' >= n %}
			<a class="btn btn-outline-info mb-4" href="?page={{ n }}">{{n}}</a>
		{% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}
{% endif %}
{% endblock %}
